version: '3'

services:
  front:
    container_name: hayabusatrip-frontend
    env_file:
      - ./.env.local
    build: .
    tty: true
    ports:
      - '3000:3000'
    volumes:
      - .:/frontend
    command: yarn dev
