.document-styles {
  @apply mx-auto max-w-3xl px-4 py-8 text-gray-700;

  & h1 {
    @apply text-xl md:text-2xl font-bold mb-8 text-center;
  }

  & h2 {
    @apply text-lg md:text-xl font-bold mt-8 mb-2 border-b border-gray-300 pb-1;
  }

  & p {
    @apply text-sm md:text-base mb-4;
  }

  & ol {
    @apply text-sm md:text-base list-decimal list-inside;
  }

  & ul {
    @apply text-sm md:text-base list-disc list-inside mt-2 pl-2 mb-2;
  }

  & li {
    @apply text-sm md:text-base mb-1;
  }
}

.tab-item {
  @apply text-sm sm:text-base p-2 flex-grow text-center text-gray-700 border-b-2 border-gray-300 cursor-pointer;

  &.active {
    @apply text-brand-color border-brand-color;
  }
}

.modal-close-button {
  & svg {
    @apply fill-gray-400;
  }

  &:hover {
    @apply bg-gray-100 transition;
  }

  &:focus {
    @apply outline-none ring-2 ring-brand-color rounded;
  }
}

select {
  @apply bg-white;
  &:hover {
    @apply cursor-pointer;
  }
}

li.cursor-default a:hover {
  cursor: default;
  background-color: transparent;
  color: black;
}

input[type='date'],
input[type='time'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='date']::-webkit-date-and-time-value,
input[type='time']::-webkit-date-and-time-value {
  @apply text-left;
}

input {
  @apply bg-white;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
  @apply cursor-pointer opacity-50 transition;
}

.simplebar-scrollbar::before {
  background: #c1c1c1 !important;
  opacity: 1 !important;
}
