.document-styles {
  @apply mx-auto max-w-3xl px-4 py-8 text-gray-700;

  & h1 {
    @apply text-2xl font-bold mb-8 text-center;
  }

  & h2 {
    @apply text-xl font-bold mt-8 mb-2 border-b border-gray-300 pb-1;
  }

  & p {
    @apply mb-4;
  }

  & ol {
    @apply list-decimal list-inside;
  }

  & ul {
    @apply list-disc list-inside mt-2 pl-2 mb-2;
  }

  & li {
    @apply mb-1;
  }
}

.tab-item {
  @apply p-2 flex-grow text-center text-gray-700 border-b-2 border-gray-300 cursor-pointer;

  &.active {
    @apply text-brand-color border-brand-color;
  }
}

.modal-close-button {
  @apply rounded outline-none;

  & svg {
    @apply fill-gray-400;
  }

  &:hover,
  &:focus {
    @apply bg-gray-100 transition;
  }
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
  @apply cursor-pointer opacity-50 transition;
}

select:hover {
  @apply cursor-pointer;
}

li.cursor-default a:hover {
  cursor: default;
  background-color: transparent;
  color: black;
}

input[type='date'].full-clickable-date::-webkit-calendar-picker-indicator {
  position: absolute;
  padding: 100px;
}

input[type='date'].full-clickable-date {
  position: relative;
  padding-left: 0px;
}
