name: CI/CD Pipeline

on:
  workflow_dispatch:
    inputs:
      ref:
        description: branch|tag|SHA to checkout
        default: 'main'
        required: true
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -fsSL https://get.docker.com -o get-docker.sh
          sh get-docker.sh
          sudo apt-get install -y docker-compose
          rm get-docker.sh

      - name: Create .env.local file
        run: env | grep '^NEXT_PUBLIC_' > .env.local

      - name: Build app and run tests
        run: |
          docker-compose build --no-cache
          docker-compose run --rm front yarn install --frozen-lockfile
          docker-compose run --rm front yarn format:check && \
          docker-compose run --rm front yarn lint
          docker-compose run --rm front yarn test

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Create .env.local file
        run: env | grep '^NEXT_PUBLIC_' > .env.local

      - name: Install front-end dependencies
        run: docker-compose run --rm front yarn install --frozen-lockfile

      - name: Build app
        run: docker-compose run --rm front yarn build
        env:
          NODE_ENV: production

      - name: Deploy to Vercel
        run: yarn deploy
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
